<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>傳銷細目</title>
	<style >

	#return {
	position: fixed;
	top: 4px;
	left: 10px;
	font-size: 20px;
	font-weight: bold;
   }
	.table {
		margin: auto;
		width: 50% !important; 
	}

	table th {
		text-align: center; 
	}

   </style>
</head>
<body>
	<script src="/js/jquery.js"></script>
	<script src="/js/d3.v3.min.js"></script>
	<script src="/js/agkdraw.js"></script>
</body>
</html>