<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>winning comments</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/css/loto.css">
	<style >
		#return {
			position: fixed;
			top: 4px;
			left: 10px;
			font-size: 20px;
			font-size: 20px;
		} 

		input {
			width: 260px;
			font-size: 1.2em;
			font-weight: bold;
		}
		
		#betnum {
			font-size: 20px;
			font-size: 20px;
		} 

		h4 {
			text-align: center;
			font-weight: bold;
		}

		ul {
			font-size: 1.2em;

			font-weight: bold;
		}
	</style>
	
</head>
<body>
	<h5>今彩539中獎比對</h5>
	<div  id = "div1" class="content-padding clearfix">
		<hr>
		<!--label for="combstr">number string:</label-->
		<input type="text" placeholder="投注號碼" id="combstr">	
		<button id="get-button" class="btn btn-primary">確定</button>
		<hr>
		<h5 id="betnum">betting numbers</h5>

	</div>
	<h6></h6>
	<br>
	<hr>

	
	<div  id = "div1" class="content-padding clearfix">

		<h5 id="winnum">winning numbers</h5>

		<br>

		<ul>
			<li>總投注數:</li>
			<li>cost:</li>
			<li>頭獎:</li>
			<li>貳獎:</li>
			<li>參獎:</li>
			<li>肆獎:</li>
			<li>win:</li>

		</ul>

		<table>
			<thead>
				<tr>
					<th>投注號碼</th>
					<th>頭獎</th>
					<th>貳獎</th>
					<th>參獎</th>
					<th>肆獎</th>
					<!--th>伍獎</th>
					<th>陸獎</th>
					<th>柒獎</th>
					<th>普獎</th-->	
				</tr>
			</thead>
			<tbody></tbody>

		</table>
	</div>


	<!-- add bootsrap script -->
   <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script-->

   	<script src="/js/jquery.js"></script>
   	<script src="/js/num539.js"></script>
   	<script src="/js/asloto539.js"></script>

   </body>
   </html>
