<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Draw Tree - server</title>
  <style>

  #return {
  position: fixed;
  top: 4px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
}
  .node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node rect {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
  }

  .node text {
    font: 10px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

</style>

</head>

<body>
  <script src="/js/d3.v3.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/drawtree.js"></script>

  <!--script src="/js/drawtree.js"></script-->

</body>

</html>