<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>會計科目</title>
  <!-- add bootsrap link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <style>
    body {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     color: #333;
     margin:20px;
     padding:20px;
   }

   h6 {
    text-align: center;
   }

   #today {
    width: 140px;
   }

   #return {
      position: fixed;
      top: 4px;
      left: 10px;
      font-size: 20px;
      font-weight: bold;
    } 

  #print {
      position: fixed;
      top: 40px;
      left: 10px;
      font-size: 20px;
      font-weight: bold;
    }


/*  autocomplete style */
.autocomplete-suggestions {
  display: none;
  -webkit-box-sizing:  border-box; 
  -moz-box-sizing:  border-box; 
  box-sizing:  border-box; 
  border: 1px solid #999;
  background: #FFF; 
  cursor:  default; 
  overflow: auto; 
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
}

.autocomplete-suggestion { 
  padding: 2px 5px;
  white-space: nowrap; 
  overflow: hidden; 
}
 
  #acctno,#acctname {
    width: 200px;
}

  #acctname {
    margin-left : 12px;
    width: 200px;
  }


 #submit,#save {
    margin-left : 20px;

  }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid rgb(98, 98, 251);
}

th, td {
  text-align: left;
  padding: 0.25em;
}

th {
  font-weight: bold;
  background-color: #f2f2f2
}


tr:nth-child(even) {
  background-color: #f2f2f2
}

 .acctno,.acctname,.classname {
    width: 200px;
  }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

 .acctno,.acctname,.classname {
    width: 160px;
  }


 }


/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #333;
    margin:0.25em;
    padding:0.25em;
  }

  #acctno {
    left: 0px;
    margin-top: 0.6em;
    margin-bottom: 0.25em;
    margin-right : 0.25em;
  }

  #acctname  {
    margin-left : 0px;
    margin-bottom: 0.25em;
    margin-right : 513px;
  }

  #submit {
    margin-right : 0.25em;
  }

  #save {
    margin-right : 0.25em;
  }

  thead {
    font-size: 3vw;
    font-weight: bold;
  }        

  th, td {
    text-align: left;
    padding: 0.12em;
  }

.acctno {
    width: 3.6em;
    font-size: 3vw;
  }

.acctname,.classname {
    width: 9.2em;
    font-size: 3vw;
  }

  .update-button,.delete-button {
    width: 4.6em;
    height: 2.3em;
    font-size: 3vw;
    text-align: center;
  }

}

/* ipad mini   */
@media (max-width: 702.98px) {
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #333;
    margin:0.25em;
    padding:0.25em;
  }

  #acctno {
    left: 0px;
    margin-top: 0.6em;
    margin-bottom: 0.25em;
    margin-right : 0.25em;
  }

  #acctname  {
    margin-left : 0px;
    margin-bottom: 0.25em;
    margin-right : 513px;
  }

  #submit {
    margin-right : 0.25em;
  }

  #save {
    margin-right : 0.25em;
  }

  thead {
    font-size: 3vw;
    font-weight: bold;
  }        

  th, td {
    text-align: left;
    padding: 0.12em;
  }

.acctno {
    width: 3.4em;
    font-size: 3vw;
  }

.acctname,.classname {
    width: 9em;
    font-size: 3vw;
  }

  .update-button,.delete-button {
    width: 4.4em;
    height: 2.2em;
    font-size: 3vw;
    text-align: center;
  }

}

/* Extra small devices (portrait phones, less than 576px)*/
/* iphone5s and iphone6s+   */
@media (max-width: 575.98px) {
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #333;
    margin:0.25em;
    padding:0.25em;
  }

  #acctno {
    left: 0px;
    margin-top: 0.6em;
    margin-bottom: 0.25em;
    margin-right : 0.25em;
  }

  #acctname  {
    margin-left : 0px;
    margin-bottom: 0.25em;
    margin-right : 513px;
  }

  #submit {
    margin-right : 0.25em;
  }

  #save {
    margin-right : 0.25em;
  }

  thead {
    font-size: 3vw;
    font-weight: bold;
  }        

  th, td {
    text-align: left;
    padding: 0.12em;
  }

.acctno {
    width: 3em;
    font-size: 3vw;
  }

.acctname,.classname {
    width: 8.6em;
    font-size: 3vw;
  }

  .update-button,.delete-button {
    width: 4.4em;
    height: 2.2em;
    font-size: 3vw;
    text-align: center;
  }

}

 </style>
</head>

<body>
  <h6>建立會計科目</h6>

  <div class="content-padding clearfix" id = "create-div">
    <hr>
    <form id="create-form" class="form-inline" role="form">
      <input type="text" class="form-group" placeholder="代號" name="acctno" id="acctno">
      <input type="text" class="form-group" placeholder="科目名稱" name="acctname" id="acctname" readonly>
      <button type="submit" class="btn btn-primary" id ="submit" disabled="true">加入</button>
      <button type="button" class="btn btn-warning" id ="save" disabled="true">存檔</button>
    </form>
  </div>
  <hr>

  <div class="content-padding clearfix" id="table-div">
  <table>
    <thead>
      <tr>    
        <th>代號</th>
        <th>科目名稱</th>
        <th>科目類別</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  </div>

  <!--autocomplete style -->
  <div class="autocomplete-suggestions">
    <div class="autocomplete-group"><strong></strong></div>
    <div class="autocomplete-suggestion autocomplete-selected"></div>
    <div class="autocomplete-suggestion"></div>
  </div>

  <P id="msg"></P>
  <P id="delmsg"></P>

<!-- add bootsrap script -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- add bootsrap script -->
  <script src="/js/jquery.js"></script>
  <script src="/js/autocomplete.js"></script>
  <script src="/js/setacctchart.js"></script>
</body>
</html>
