<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script-->
<script src="/socket.io/socket.io.js"></script>
 
<title>Socket Io</title>

</head>
<body>
   <h1>Socket Io</h1>
   <div>Yes vote:<span id="yes"><%= votes.yes %></span></div>
   <div>Yes vote:<span id="no"><%= votes.no %></span></div>
   <div>Yes vote:<span id="maybe"><%= votes.maybe %></span></div>


   <div>
     <button data-vote = "yes">yes</button>
     <button data-vote = "no">no</button>
     <button data-vote = "maybe">maybe</button>
   </div>

   
<script>

  const socket = io();

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("button").forEach(button => {
      button.addEventListener("click", e => {
        let selection = e.target.dataset.vote
        socket.emit('submit vote', {selection: selection})
      })
    })
  })
  
  socket.on('announce vote', function(data) {
    document.querySelector("#yes").innerHTML = data["yes"]
    document.querySelector("#no").innerHTML = data["no"]
    document.querySelector("#maybe").innerHTML = data["maybe"]
  })  
</script>
</body>
</html>