body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  margin:20px;
  padding:20px;
}

#get-button {
  
  font-weight: 400;

  text-align: center;
}




    .node {

        cursor: pointer;

    }


    .node circle {


      fill: #fff;


      stroke: steelblue;


      stroke-width: 3px;


    }


 .node rect {


       fill: none;


      stroke: steelblue;


      stroke-width: 1px;

    }



    .node text {


      font: 10px sans-serif;


    }


    .link {

      fill: none;

      stroke: #ccc;

      stroke-width: 2px;


    }


 
  