/* --------------------------
General Styles 
----------------------------- */
:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: sans-serif;
  background-color: #444;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;

}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-bar ul li {
  width: 10%;
}

.nav-bar ul li > ul {
  list-style: none;
  display: none;
}

.nav-bar ul li > ul li {
  width: 100%
}

.nav-bar ul li:hover > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.nav-bar a {
  display: block;
  text-transform: uppercase;
  background: transparent;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.nav-bar ul li ul {
  width: 150px;
  background: transparent;
}

.dropdown a {
  padding: 4px 0;
  text-align: center;
}

.nav-bar a:hover {
  background: transparent;
  color: #0073ff;
}

.nav-bar .dropdown li > a {
  background: transparent;
  color: #fff;
}

.nav-bar .dropdown li > a:hover {
  background: transparent;
  color: #0073ff;
}


/* -----------------------------
Media Queries / Responsive Styles
-------------------------------- */
@media screen and (max-width: 940px) {
  .nav-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav-bar ul li {
    width:36vw;
  }

  .nav-bar ul li ul li a {
    background: rgba(68, 68, 69, 0.6);
  }

  .nav-bar ul li ul li {
    margin-left: 10vw;
  }

  .dropdown a {
    text-align: center;
  }

  .nav-bar .dropdown li > a {
    background: #EA6677;
    color: #fff;

  }
}       
