/* -------------=========================
          General Style
----------------------------------------*/
     
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	color: #333;
	margin:1.25em;
	padding:1.25em;
}

label {	
	font-size: 1.0em;
	font-weight: bold;
}	

#count {
	width: 60px;
	font-size: 1.0em;
	font-weight: bold;
}
	
h5 {
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
}

h6 {
	font-size: 1.0em;
	text-align: center;
	font-weight: bold;
}


#return {
	position: fixed;
	top: 4px;
	left: 10px;
	font-size: 20px;
	font-weight: bold;
}	

#get-button {
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
}	

ul {
	text-align: center;
}

li {
	display: inline;
	font-size: 1.0em;
	font-weight: bold;
	margin-right:0.75em;	
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid rgba(0,0,255,0.5);
}


th, td {
	text-align: center;
	padding: 0.25em;
}

th {
	font-weight: bold;
	background-color: rgba(0,0,255,0.05);
}

tr:nth-child(even) {
	background-color: rgba(0,0,255,0.05);
}

.no,.mean,.count,.diff,.neardist{
	width: 1.5em;
}

.position {
	width: 4em;
}

.prob {
	width: 1.5em;
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
	body {
		font-size: 1em;
		margin:0.25em;
		padding:0.25em;
	}

	.no,.mean,.count,.diff,.neardist{
		width: 1.4em;
	}

	.position {
	   width: 5.5em;
	}

	.prob {
		width: 1.4em;
	}

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
	body {
		font-size: 1em;
		margin:0.25em;
		padding:0.25em;
	}

	.no,.mean,.count,.diff,.neardist{
		width: 1.2em;
	}

	.position {
	   width: 5em;
	}

	.prob {
		width: 1.2em;
	}
}

/* ipad mini   */
@media (max-width: 702.98px) {
	body {
		font-size: 0.8em;
		margin:0.25em;
		padding:0.25em;
	}

	.no,.mean,.count,.diff,.neardist{
		width: 1em;
	}

	.position {

	   width: 4em;
	}

	.prob {
		width: 1em;
	}


}

/* Extra small devices (portrait phones, less than 576px)*/
/* iphone5s and iphone6s+   */
@media (max-width: 575.98px) {
	body {
		font-size: 0.2em;
		margin:0.1em;
		padding:0.1em;
	}

	thead {
		font-size: 2vw;
		font-weight: bold;
	}
		       
	.no,.mean,.count,.diff,.neardist{
		width: 0.4em;
		font-size: 2vw;
		font-weight: bold;

	}

	.position {
	   display: flex;
	   width: 0.8em;
	   font-size: 2vw;
	   font-weight: bold;

	}

	.prob {
		width: 0.4em;
		font-size: 2vw;
		font-weight: bold;

	}

}
